p
{
    color: rgb(162, 162, 196); /* Couleur du paragraphe */
    font-size: 2em ;
    font-style: italic;
    text-decoration: none;
    text-align: center;

}

.haut-de-page
{
    text-align: center;
    font-size: 50px;
    color: cyan;
}

.presentation
{
    color: red;
    text-align: center;
}

.list
{
    clear: left;
}

.text
{
    text-align: justify;

}

.flottant
{
    float: left;
    width: 100px;
}